#wrapper {
    /*margin-top:0%;*/ 
    border: 1px solid blue;
}
#menu {
  background-color: green;
    display: inline-block; 
    /* widows: initial; */
    /* background-color: green; */
    height:43em;
    width: 10em;
   vertical-align: top;
    border: 1px solid red;
    
}
.theInfo {
    display: inline-block;
    width:absolute;
    height:absolute;
    border: 1px solid green;
}
.menu-item{
    border:7px solid black;
    margin: 2em;
    vertical-align:middle; 
    text-align:center;
}