html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(135deg, rgb(51, 109, 71), rgba(60, 169, 96, 0.611));
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 15px;
    margin-top: 150px;
    margin-bottom: -1em;
    /* height: 15em ; */
}

.hideable {
    border: 2px solid black;
    background-color: violet;
}

.imgClass {
    margin-top: 15%;
    /* margin-bottom: 15%; */
    max-width: 100%;
    height: auto;
}

.menu-item {
    height: 8em;
    width: auto;
    background-color: lightslategray;
    border: 2px solid black;
    margin: 0em;
    margin-bottom: 0em;
    margin-top: 0em;
    /* padding: 3em; */
    /* vertical-align:middle;  */
    text-align: center;
}

#sidebar {
    grid-column: 1/2;
    grid-row: 1/11;
    background: #ffffff8a;
}

#calendar {
    grid-column: 2/9;
    grid-row: 1/20;
    background: #ffffff8a;
}

#clients {
    grid-column: 2/9;
    grid-row: 1/20;
    background: rgb(167, 119, 167);
}

#mechanics {
    grid-column: 2/9;
    grid-row: 1/20;
    background: rgba(44, 96, 144, 0.589);
}

#feedback {
    grid-column: 2/9;
    grid-row: 1/20;
    background: rgba(45, 87, 62, 0.596);
}

#about {
    grid-column: 2/9;
    grid-row: 1/20;
    background: rgb(49, 85, 39);
}

#hiddenBox {
    grid-column: 2/9;
    grid-row: 1/20;
    visibility: hidden;
}

.showme {
    font-size: 1.5em;
    position: relative;
    background: rgba(29, 106, 154, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;
}

.menu-item:hover .showme {
    visibility: visible;
    opacity: 1;
}

.menu-item:hover .imgClass {
    opacity: 0.5;
    margin-top: 5%;
}

.menu-item:hover {
    background-color: rgb(33, 6, 36);
}
.personalInfo{
    margin-top: 1em;
    font-size: 2em;
    width: 13em;
    display: inline-block;
}
.clicked{
    background: rgba(199, 191, 191, 0.671);
}
#commentBox{
    margin-left: 10%;
    margin-right: 10%;
}
#comment{
    
    width: 100%;
    height: 10em;
    font-size: 2em;
}
#submit{
    height: 3em;
}
#displayedComments{
    font-size: 2em;
}