html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(135deg, rgb(51, 109, 71), rgba(60, 169, 96, 0.611));
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 15px;
    margin-top: 150px;
    margin-bottom: -1em;
}
.imgClass{
    
    margin-top: 20%;
    margin-bottom: auto;
    
    max-width: 100%;
    height: auto;
}
.menu-item{
    height: 15%;
    width: auto;
    background-color: lightslategray;
    border:2px solid black;
    margin: 0em;
    margin-bottom: 0em;
    margin-top: 0em;
    /* padding: 3em; */
    /* vertical-align:middle;  */
    text-align:center;
}

#menuCal {
    background: url(./Pictures/calendar.jpg) no - repeat center center;
    
}

#sidebar {
    grid-column: 1/2;
    grid-row: 1/20;
    background: #ffffff8a;
}

#calendar {
    grid-column: 2/9;
    grid-row: 1/20;
    background: #ffffff8a;
}